html {
    box-sizing: border-box;
  }

  h2, h4, p {
    margin: 0;
  }

  body {
    padding: 20px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#card {
    width: 700px;
    height: 500px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 35);
    border-radius: 5px;
    overflow: hidden;
}

#top-part {
    width: 100%;
    height: 46%;
    padding: 20px;
    padding-top: 50px;
    padding-left: 45px;
}

#bottom-part {
    width: 100%;
    height: 54%;
    color: white;
}

#left-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 25px;
    vertical-align: top;
    background-color: #2ab2af;
    padding-left: 45px;

}

#right-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #2EBFBD;
    padding: 20px;
    padding-left: 45px;
    padding-top: 45px;
}

#top-part h2 {
    color: #2ab2af;
    margin-bottom: 30px;
}

#top-part h4 {
    color: #c0df34;
    margin-bottom: 15px;
}
 
#top-part p {
    color: #98a6bd;
}

#price {
    font-weight: 700;
    font-size: 1.9rem;
}

button {
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    height: 23%;
}

button:hover {
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.02);
}

#left-section h4 {
    margin-bottom: 18px;
    margin-top: 20px;
}

#price-container {
    margin-bottom: 19px;
}

#price-frequency, #price {
    display: inline-block;
}

#price-frequency {
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

#left-section p {
    font-size: 0.9rem;
    margin-bottom: 30px;
}

#right-section 

ul {
    padding: 0px;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}

#right-section h4 {
    margin-bottom: 23px;
}

@media (max-width: 650px) {
    #left-section, #right-section, #card {
        height: auto;
        width: 100%;
    }
    button {
    width: 99%;
    height: 44px;
    }
    #left-section p {
        font-size: 0.8rem;
    }
    
}

